html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html,
  body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    
  
  }
  
  ul,
  ol,
  li,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }
  
  button:focus,
  input:focus {
    outline: transparent;
  }
  html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
  .container{
      max-width: 1170px;
      margin: 0 auto;
      padding: 0px 15px;
  }
  .title{
    padding: 44px 30px;
        height: 110px;
        width: 100%;
        font-size: 30px;
        background-color: #fff;
        margin-bottom: 50px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  }
  .title-v2{
    font-size: 36px;
    padding-bottom: 15px;
    span{
        color: #0674ec;
    }
  }
  .text-v2{
    margin: 0 auto;
        max-width: 680px;
        font-size: 16px;
        color: #555555;
        padding-bottom: 60px;
        line-height: 30px;
  }
  