@import 'global';
@import 'vars';
@import 'fonts';
@import 'media';

.header__top{
    background-color: $bg;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 25px;

}
.header__logo{
    width: 190px;
    
    position: relative;
    &-text{
        font-weight: 700;
        font-size: 30px;
        color: #000;
        position: absolute;
        left: 60px;
        top: 8px;
    }
    span{
        color: $search;
    }
    img{
        position: absolute;
    }
}
.header__text{
    width: 140px;
    height: 37px;
    background-color: $search;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    
    text-align: center;
    padding-top: 5px;
    margin-left: auto;
}
.header__btn{
    display: flex;
    justify-content: space-between;

    .header__box{
         width: 100px;
        height: 37px;
        border-radius: 15px;
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        padding-top: 5px;
        &-login{
            background-color: green;
            margin-left: 50px;
        }
        &-register{
            background-color: red;
            margin-left: 25px;
        }

    }
}
.menu{
display: flex;
justify-content: space-between;
margin-bottom: 17px;

&__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    padding-top: 35px;
    li{
    
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    a{
        color: #333333;
        list-style: none;
    }
    }
}
}
.header__form{
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-top: 17px;
    input{
        display: block;
        width: 100%;
        height: 46px;
        border-radius: 18px;
        border: 1px solid #d9dfe5;
        padding-left: 26px;
        font-size: 15px;
        &::placeholder{
            color: #898f96;       
            
        }
    }
    button{
        background-color: $search;
        width: 70px;
        height: 100%;
        border-radius: 18px;
        border: none;
        position: absolute;
        top: 0px;
        right: 0;
       cursor: pointer;
    }
}
// END HEADER
// START SEARCH

.search{
    background-color: $blue;
    &__inner{
        padding-top: 170px;
        text-align: center;
        color: #fff;
    }
    &__title{
        font-size: 60px;
        font-weight: 500;
        margin-bottom: 27px;
    }
    &__test{
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 52px;
    }
    &__text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 70px;
    }
    &__bts{
        
       padding-bottom: 235px;
        margin: 0 auto;
        
    }
    &__btn{
        min-width: 190px;
        height: 57px;
        font-size: 16px;

        border: 1px solid #fff;
        border-radius: 23px;
        color: #fff;
        padding-top: 18px;
        &:hover{
            background-color: #fff;
            color: $search;
        }
        &+&{
            margin-left: 31px;
        }
    }
  
        
}
.search__box{
position: relative;
    &-1{
        max-width: 1140px;
        height: 135px;
        background-color: #fff;
        padding: 43px 40px ;
        font-size: 16px;

        position: absolute;
        position: relative;
        border-radius: 6px;
        bottom: -65px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        z-index: 3;
        input{
            line-height: 42px;
            min-width: 807px;
            height: 55px;
            padding-left: 30px;
            border: 1px solid #dcdcdc;
            border-radius: 3px;
        }
        button{
            padding-left: 30px;
            background-color: $search;
            min-width: 220px;
            text-align: center;
            line-height: 42px;
            height: 55px;
            border: none;
            border-radius: 3px;
            color: #fff;
            padding-right: 50px;
        }
    }
    &-category{
        background-repeat:no-repeat;
        position: absolute;
        right: 312px;
        top: 43px;
        padding: 20px 0 20px 20px ;
        
        img{
            padding-left: 40px;
        }
        width: 195px;
        height: 55px;
        border-left: 1px solid #dcdcdc;
    }
    &-2{
        max-width: 1110px;
        width: 100%;
        height: 135px;
        opacity: .5;
        background-color: #fff;
        position: absolute;
        border-radius: 6px;
        bottom: -52px;
        left: 15px;
    }
    &-3{
        max-width: 1080px;
        width: 100%;
        height: 135px;
        opacity: .5;
        background-color: #fff;
        position: absolute;
        border-radius: 6px;
        bottom: -39px;
        left: 30px;
    }
}
// END SEARCH
// START features

.features{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 188px 0 120px;
        :hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
        }
    }
    &__box{
        
        width: 360px;
        text-align: center;
        padding: 0 35px 53px;
        :hover{
            box-shadow: none;
        }
        img{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 40px;
        }
        &+&{
            margin-left: 30px;
        }
    }
    &__title{
        font-size: 24px;
        margin-bottom: 32px;
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
    }
}

  // END features
  // START features
.products{
    background-color: #eff1f5;
    padding: 120px 0;
    
}

.products__box{
    
    position: relative;
    &-box{
        position: absolute;
        top: 0;
        right: 0;
    padding: 50px;
    max-width: 686px;
    height: 450px;
    background-color: #fff;
    }
    img{

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 550px;
        height: 450px;
        background-color: #000;
    }
    &-title{
        font-size: 24px;
        
        margin-bottom: 10px;
        font-weight: 500;
    }
    ul{
        list-style: none;
        
    }
    li{
        display: inline-block;
        color: #000;
        line-height: 30px;
        color: #868c96;
        text-align: center;
        background-color: #f1f3f6;
        border-radius: 12px;
        padding: 0px 16px;
        margin-bottom: 65px;
        &+li{
            margin-left: 30px;
        
        }
    }
    &-author{
        font-size: 15px;
        padding-left: 50px;
        line-height: 30px;
        margin-bottom: 20px;
        display: block;
        span{
            color: #7347c1;
            padding-left: 25px;
        }
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        padding-right: 60px;
        margin-bottom: 25px;
    }
}
.products__box-info{
    display: flex;
    justify-content: space-between;
}
.products{
    line-height: 30px;
    font-size: 15px;
    &-price{
        
        font-weight: 500;
        
        padding: 0px 20px;
        color: #fff;
        background-color: $search;
        border-radius: 14px;
    }
    &-like{
        padding-left: 45px;
        
        

    }
    &-shop{
        padding-left: 40px;
        margin-right: auto;
        
    }   
    
}   
.items{
    padding: 120px 0;
    background-color: #f6f7fb;
}
.items__inner-psd{
    height: 92px;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
    
    button{
        border-radius: 14px;
        border: none;
        padding: 0px 18px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #747b86;
        cursor: pointer;
        &+button{
            margin-left: 10px;
        }
        &:hover{
            background-color: $search;
            color: #fff;
        }
    }
}
.items__inner-box{
    max-width: 360px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  
    
    
}
.item__product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-img{
        max-width: 360px;
        height: 230px;
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        &:hover{
            .item__product-link{
                opacity: 1;
            }
        }
    }
    &-link{
        font-style: 15px;
        height: 45px;
        padding: 11px 28px;
        font-weight: 500;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        margin-top: 90px;
        opacity: 0;
        &+&{
            margin-left: 10px;
        }
        &:hover{
            background-color: #fff;
            color: $search;
        }
    }
    &-content{
        background-color: #fff;
        padding: 30px 30px 20px;
    }
    &-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
    }
    &-name{
        padding-left: 35px;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 25px;
        span{
            color: #7347c1;
            padding-left: 50px;
        }

    }
    &-text{
        font-style: 16px;
        line-height: 30px;
        color: #555555;
       
        
    }
    &-info{
        border-top: 1px solid #ececec;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
        line-height: 30px;
        font-size: 15px;
    }
    &-price{
        margin-left: 30px;
        background-color: #e6f1fd;
        color: #0674ec;
        font-weight: 500;
        border-radius: 14px;
        padding: 0px 16px;
    }
    &-like{
        margin-right: auto;
        padding-left: 35px;
        color: #6f7d8d;
    }
    &-shop{
        color: #0674ec;
        margin-right: 30px;
    }
}
.item__bottom-btn{
    margin-top: 60px;
    
    button{
        max-width: 190px;
        height: 55px;
        background-color: $search;
        border-radius: 25px;
        border: none;
        margin-left: 470px;
        cursor: pointer;
        padding: 0px 30px;
        color: #fff;
        font-size: 16px;
    }
}