@import 'global';
@import 'vars';
@import 'fonts';
@import 'media';

.header__top{
    background-color: $bg;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 25px;

}
.header__logo{
    width: 190px;
    
    position: relative;
    &-text{
        font-weight: 700;
        font-size: 30px;
        color: #000;
        position: absolute;
        left: 60px;
        top: 8px;
    }
    span{
        color: $search;
    }
    img{
        position: absolute;
    }
}
.header__text{
    width: 140px;
    height: 37px;
    background-color: $search;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    
    text-align: center;
    padding-top: 5px;
    margin-left: auto;
}
.header__btn{
    display: flex;
    justify-content: space-between;

    .header__box{
         width: 100px;
        height: 37px;
        border-radius: 15px;
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        padding-top: 5px;
        &-login{
            background-color: green;
            margin-left: 50px;
        }
        &-register{
            background-color: red;
            margin-left: 25px;
        }

    }
}
.menu{
display: flex;
justify-content: space-between;
margin-bottom: 17px;

&__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    padding-top: 35px;
    li{
    
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    a{
        color: #333333;
        list-style: none;
    }
    }
}
}
.header__form{
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-top: 17px;
    input{
        display: block;
        width: 100%;
        height: 46px;
        border-radius: 18px;
        border: 1px solid #d9dfe5;
        padding-left: 26px;
        font-size: 15px;
        &::placeholder{
            color: #898f96;       
            
        }
    }
    button{
        background-color: $search;
        width: 70px;
        height: 100%;
        border-radius: 18px;
        border: none;
        position: absolute;
        top: 0px;
        right: 0;
       cursor: pointer;
    }
}
// END HEADER
// START SEARCH

.search{
    background-color: $blue;
    &__inner{
        padding-top: 170px;
        text-align: center;
        color: #fff;
    }
    &__title{
        font-size: 60px;
        font-weight: 500;
        margin-bottom: 27px;
    }
    &__test{
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 52px;
    }
    &__text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 70px;
    }
    &__bts{
        
       padding-bottom: 235px;
        margin: 0 auto;
        
    }
    &__btn{
        min-width: 190px;
        height: 57px;
        font-size: 16px;

        border: 1px solid #fff;
        border-radius: 23px;
        color: #fff;
        padding-top: 18px;
        &:hover{
            background-color: #fff;
            color: $search;
        }
        &+&{
            margin-left: 31px;
        }
    }
  
        
}
.search__box{
position: relative;
    &-1{
        max-width: 1140px;
        height: 135px;
        background-color: #fff;
        padding: 43px 40px ;
        font-size: 16px;

        position: absolute;
        position: relative;
        border-radius: 6px;
        bottom: -65px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        z-index: 3;
        input{
            line-height: 42px;
            min-width: 807px;
            height: 55px;
            padding-left: 30px;
            border: 1px solid #dcdcdc;
            border-radius: 3px;
        }
        button{
            padding-left: 30px;
            background-color: $search;
            min-width: 220px;
            text-align: center;
            line-height: 42px;
            height: 55px;
            border: none;
            border-radius: 3px;
            color: #fff;
            padding-right: 50px;
        }
    }
    &-category{
        background-repeat:no-repeat;
        position: absolute;
        right: 312px;
        top: 43px;
        padding: 20px 0 20px 20px ;
        
        img{
            padding-left: 40px;
        }
        width: 195px;
        height: 55px;
        border-left: 1px solid #dcdcdc;
    }
    &-2{
        max-width: 1110px;
        width: 100%;
        height: 135px;
        opacity: .5;
        background-color: #fff;
        position: absolute;
        border-radius: 6px;
        bottom: -52px;
        left: 15px;
    }
    &-3{
        max-width: 1080px;
        width: 100%;
        height: 135px;
        opacity: .5;
        background-color: #fff;
        position: absolute;
        border-radius: 6px;
        bottom: -39px;
        left: 30px;
    }
}
// END SEARCH
// START features

.features{
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 188px 0 120px;
        :hover{
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
        }
    }
    &__box{
        
        width: 360px;
        text-align: center;
        padding: 0 35px 53px;
        :hover{
            box-shadow: none;
        }
        img{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 40px;
        }
        &+&{
            margin-left: 30px;
        }
    }
    &__title{
        font-size: 24px;
        margin-bottom: 32px;
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
    }
}

  // END features
  // START features
.products{
    background-color: #eff1f5;
    padding: 120px 0;
    
}

.products__box{
    
    position: relative;
    &-box{
        position: absolute;
        top: 0;
        right: 0;
    padding: 50px;
    max-width: 686px;
    height: 450px;
    background-color: #fff;
    }
    img{

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 550px;
        height: 450px;
        background-color: #000;
    }
    &-title{
        font-size: 24px;
        
        margin-bottom: 10px;
        font-weight: 500;
    }
    ul{
        list-style: none;
        
    }
    li{
        display: inline-block;
        color: #000;
        line-height: 30px;
        color: #868c96;
        text-align: center;
        background-color: #f1f3f6;
        border-radius: 12px;
        padding: 0px 16px;
        margin-bottom: 45px;
        &+li{
            margin-left: 30px;
        
        }
    }
    &-author{
        
        font-size: 15px;
        
        line-height: 30px;
        margin-bottom: 20px;
        display: block;
        display: flex;
        padding-right: -15px;
        a{
            padding-left: 15px;
            color: #000;
        }
        .icons-word{
            width: 30px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            
            span{
                position: absolute;
                display: inline-block;
                
                
                color: #7347c1;
                padding-left: 25px;
                
            }
        }
       
        
    }&-face{
        min-height: 30px;
        width: 30px !important;
        border-radius: 50%;
        background-color: #7347c1;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        padding-right: 60px;
        margin-bottom: 25px;
    }
    &-info{
        border-top: 1px solid #ececec;
        padding-top: 30px;
        span{
            padding-right: 11px;
            color: #7347c1;
        }
    }
}
.products__box-info{
    display: flex;
    justify-content: space-between;
}
.products{
    line-height: 30px;
    font-size: 15px;
    
    &-price{
        
        font-weight: 500;
        
        padding: 0px 20px;
        color: #fff;
        background-color: $search;
        border-radius: 14px;
    }
    &-like{
        padding-left: 30px;
        
        

    }
    &-shop{
        padding-left: 30px;
        margin-right: auto;
        color: #0674ec;
        span{
            color: #0674ec;
        }
    }   
    
}   
.items{
    padding: 120px 0;
    background-color: #f6f7fb;
}
.items__inner-psd{
    height: 92px;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 50px;
    
    button{
        border-radius: 14px;
        border: none;
        padding: 0px 18px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 500;
        color: #747b86;
        cursor: pointer;
        &+button{
            margin-left: 10px;
        }
        &:hover{
            background-color: $search;
            color: #fff;
        }
    }
}
.items__inner-box{
    max-width: 360px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  
    
    
}
.item__product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-img{
        max-width: 360px;
        height: 230px;
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        &:hover{
            .item__product-link{
                opacity: 1;
            }
        }
    }
    &-link{
        font-style: 15px;
        height: 45px;
        padding: 11px 28px;
        font-weight: 500;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #fff;
        margin-top: 90px;
        opacity: 0;
        &+&{
            margin-left: 10px;
        }
        &:hover{
            background-color: #fff;
            color: $search;
        }
    }
    &-content{
        background-color: #fff;
        padding: 30px 30px 20px;
    }
    &-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000;
    }
    &-name{
        padding-left: 35px;
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 25px;
        span{
            color: #7347c1;
            padding-left: 50px;
        }

    }
    &-text{
        font-style: 16px;
        line-height: 30px;
        color: #555555;
       
        
    }
    &-info{
        border-top: 1px solid #ececec;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        line-height: 30px;
        font-size: 15px;
    }
    &-price{
        margin-left: 30px;
        background-color: #e6f1fd;
        color: #0674ec;
        font-weight: 500;
        border-radius: 14px;
        padding: 0px 16px;
    }
    &-like{
        margin-right: auto;
        padding-left: 15px;
        color: #6f7d8d;
        span{
            padding-right: 9px;
            color: #7f4ec2;
        }
    }
    .products-star{
        margin-right: auto;
    }
    &-shop{
        color: #0674ec;
        margin-right: 30px;
        span{
            padding-right: 9px;
        }
    }
}
.item__bottom-btn{
    margin-top: 60px;
    
    button{
        max-width: 190px;
        height: 55px;
        background-color: $search;
        border-radius: 25px;
        border: none;
        margin-left: 470px;
        cursor: pointer;
        padding: 0px 30px;
        color: #fff;
        font-size: 16px;
    }
}
.item__inner-box-feed{
    max-width: 360px ;
    width: 100%;
}
.feed{
    background-color: #eff1f5;
    padding: 120px 0;
}

 

.fun{
    background-color: #000;
    &__inner{
        padding: 95px 0;
        display: flex;
        justify-content: space-between;
        &-img{
            font-size: 45px;
            padding-bottom: 45px;
        }
        &-title{
            font-size: 36px;
        }
        &-text{
            font-size: 18px;
            line-height: 36px;
            color: #fff;
        }
    }
    &__box{
        text-align: center;
        &+&{
            padding-left: 50px;
        }
        &-yellow{
        
            color:#feb71d;
        }
        &-blue{
        
            color:#58c9e9;
        }
        &-green{
        
            color:#77de51;
        }
        &-red{
        
            color:#ff6a6d;
        }
    }
}   


.choose__inner{
    padding: 120px 0;
    text-align: center;
    align-items: center;
    
    &-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.choose__box{
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    &-number{
        padding-top: 20px;
        padding-left: 20px;
        color: #e5eafe;
        font-weight: 300;
        font-size: 48px;
        text-align: left;
    }
    &-img{
        font-size: 60px;
        margin-bottom: 50px;
        &-license{
            
            color: #0674ec;
        }
        &-wand{
            color: #7f4ec2;
        }
        &-lock{
            color: #77de51;
        }
        &-chart{
            color: #feb71d;
        }
        &-leaf{
            color: #58c9e9;
        }
        &-phone{
            color: #ff6a6d;
        }
    }
    &-title{
        font-size: 24px;
        margin-bottom: 15px;
    }
    &-text{
        padding: 0px 30px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        margin-bottom: 50px;
    }
}
.sab{
    display: flex;
    justify-content: space-between;
    &__box{
        min-height: 560px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
        width: 100%;
        
        &-inner{
            max-width: 600px;
            margin: 0 auto;
        }
        &-img{
            background-repeat: no-repeat;
            background-position: center center;
            margin: 100px 0 50px;
            height: 100px;
            
        }
        &-title{
            font-size: 36px;
            margin-bottom: 15px;
        }
        &-text{
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 35px;
        }
        &-btn{
            width: 190px;
            height: 55px;
            border-radius: 25px;
            background-color: #fff;
            font-size: 16px;
            
            color: #7347c1;
            padding-top: 20px;
            &-sell{
                color: #0674ec;
            }
        }
    }
}
.testimonial{
    padding: 120px 0;
    text-align: center;
    &__title{
        font-size: 36px;
        margin-bottom: 20px;
        
        padding: 0px 30px;
        span{
            color: #0674ec;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        
        margin: 0 auto;
        max-width: 800px;
        padding: 0px 20px 50px;
        
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__box{
        max-width: 550px;
        width: 100%;
        padding: 50px 35px 50px 40px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        border-left: 2px solid #0674ec;
        color: #555555;
        &-title{
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
        }
        &-user{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-color: #808080;
            background-position: center;
            background-repeat: no-repeat;
        }
        &-type{
            text-align: left;
            padding-left: 20px;
            padding-top: 10px;
            margin-right: auto;
            line-height: 30px;
        }
        &-product{
            color: #000;
            font-size: 20px;
        }
        &-text{
            font-size: 16px;
            line-height: 30px;
            text-align: left;
            
        }
        &-bubble{
            font-size: 60px;
            color: #e8e8e8;
        }
    }
    &__link{
        margin-top: 60px;
        max-width: 195px;
        width: 100%;
        height: 55px;
        background-color: $search;
        border-radius: 24px;
        color: #fff;
        padding-top: 18px;
    }
}


.blog{
    background-color: #eff1f5;
}
.blog__inner{
    
    text-align: center;
    padding: 120px 0;
    &-box{
        display: flex;
        justify-content: space-between;
    }
}
.blog__box{
    max-width: 360px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    text-align: left;
    
    &-img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 230px;
    }
    &-title{
        font-size: 22px;
        font-weight: 500;
        padding: 30px 28px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-left: 28px;
        margin-bottom: 20px;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ececec;
        font-size: 15px;
        line-height: 30px;
        color: #7e7e7e;
        padding: 10px 0px;
        span{
            padding-right: 8px;
        }
    }
    &-time{
        padding-left: 28px;
        padding-right: 50px;
        span{
            color: #0674ec;
            padding-right: 8px;
        }
        border-right: 1px solid #ececec;
    }
    &-comment{
        padding-left: 30x;
    }
    &-see{
        padding-right: 28px;
    }
}


.support__inner{
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}
.support__box{
    &-img{
        min-height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 33px;
    }
    &-text{
        font-size: 24px;
        span{
            color: #0674ec;
        }
        &-sup{
            span{
                color: #7347c1;
            }
        }
    }
}


.banner{
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    &__inner{
        text-align: center;
        padding: 110px 0;
        &-title{
            font-size: 36px;
            
            margin-bottom: 20px;
        }
        &-text{
            font-size: 18px;
        }
        &-link{
            margin-top: 55px;
            max-width: 195px;
            width: 100%;
            height: 55px;
            background-color: #fff;
            color: #0674ec;
            border-radius: 27px;
            padding-top: 18px;
        }
    }
}


.footer{
    background-color: #262b30;
    
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 120px 0;
        &-box{
            color: #ababab;
            font-size: 15px;
            max-width: 300px;
            &-logo{
                max-width: 270px;
            }
            &-social{
                max-width: 360px;
            }
        }
        &-title{
            font-size: 18px;
            color: #fff;
            line-height: 42px;
            margin-bottom: 20px;
            &-logo{
                width: 165px;
                background-repeat: no-repeat;
                height: 40px;
                background-position: center;
            }
        }
        &-text{
            font-size: 15px;
            line-height: 28px;
            margin-bottom: 10px;
        }
        &-info{
            line-height: 26px;
            color: #ababab;
            max-width: 265px;
            span{
                padding-right: 10px;
                color: #fff;
            }
            &-map{
                position: relative;
                padding-left: 25px;
                span{
                    position: absolute;
                    left: 0;
                    top: 18px;
                }
            }
        }
        &-help{
            list-style: none;
            
            li{
                a{
                    color: #ababab;
                    line-height: 28px;
                }
            }
        }
        &-btn{
            width: 100%;
            position: relative;
            margin-top: 30px;
            input{
                background-color: #fff;
                width: 100%;
                border-radius: 23px;
                height: 50px;
                padding-left: 30px;
                padding-right: 100px;
            }
            button{
                width: 110px;
                height: 50px;
                border-radius: 23px;
                background-color: $search;
                position: absolute;
                border: none;
                right: 0;
                color: #fff;
                cursor: pointer;
            }
        }
        &-social{
            display: flex;
            justify-content: start;
        }
        
    }
}
.footer__social{
    margin-top: 35px;
    height: 43px;
    width: 43px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    &+&{
        margin-left: 13px;
    }
    &-fb{
        &::before{
            content: "\f09a";
        font-family: 'icomoon';
        }
        background-color: #395799;
        
        
    }
    &-tw{
        &::before{
            content: "\f099";
        font-family: 'icomoon';
        }
        
        background-color: #19b2f5;
        
    }
    &-gg{
        &::before{
            content: "\f1a0";
            font-family: 'icomoon';
        }
 
        background-color: #f05b44;
        
    }
    &-pt{
        &::before{
            content: "\f0d2";
            font-family: 'icomoon';
        }
    
        background-color: #9c0c1c;
        
    }
    &-l1{
        &::before{
            content: "\f0e1";
            font-family: 'icomoon'; 
        }
        
        background-color: #0da6be;
        
    }
    &-db{
        &::before{
            content: "\f17d";
        font-family: 'icomoon';
        }
        
        background-color: #ea4c89;
    }
}
.footer__bottom{
    background-color: #000;
    text-align: center;
    padding: 40px 0;
    &-text{
        color: #999999;
        span{
            color: #fff;
        }
    }
}
.search-new{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 280px;
    text-align: center;
    
    &__inner{
        padding-top: 90px;
        max-width: 600px;
        margin: 0 auto;
    }
    &__title{
        font-size: 26px;
        color: #f3f3f8;
        margin-bottom: 35px;
        max-width: 550px;
        span{
            font-weight: 500;
        }
    }
    &__btn{
        position: relative;
        max-width: 550px;
        margin-bottom: 40px;
        input{
           
            width: 100%;
            height: 55px;
            border-radius: 30px;
            padding-left: 30px;
            &::placeholder{
                color: #747b86;
            }
        }
        button{
            max-width: 110px;
            width: 100%;
            height: 55px;
            border-radius: 30px;
            position: absolute;
            right: 0;
            border: none;
            background-color: #0674ec;
            color: #fff;
            cursor: pointer;;
        }
    }
    .breadcrumbs{
        
        li{
            list-style: none;
            position: relative;
            display: inline-block;
            
            &+li{
                padding-left: 24px;  
                &::before{
                    content: '/';
                    color: #fff;
                   position: absolute;
                   left: 8px;
                }
            }
            &:last-child{
                a,
                span{
                color: #bfcad7;
                }
            }
        }
        a,
        span{
            color: #fff;
            font-size: 15px;
        
        }
    }
}
.filter-bar{
    background-color: #eff1f5;
    padding-bottom: 120px;
    &__filter{
        background-color: #fff;
        margin-bottom: 80px;
    }
    &__list{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__type{
        background-color: #fff;
        border: none;
        padding-right: 50px;
        font-size: 16px;
        color: #555555;
        &-active{
            color: #0674ec;
        }
        &-no-active{
            margin-right: auto;
        }
    }
    &__btn{
        height: 44px;
        padding: 11px 20px;
        border: 1px solid #eceff2;
        border-radius: 3px;
        
        button{
            height: 20px;
            width: 20px;
            background-color: #fff;
            border: none;
            cursor: pointer;
            &+button{
                margin-left: 15px;
            }
            .active{
                color: $search;
            }
        }
        .filter-bar__greed{
            &.active path {
                
                    fill: rgb(6, 116, 236);
                
            }
        }
        .filter-bar__listsvg{
            &.active  path{
                
                    fill: rgb(6, 116, 236);
                
            }
        }
    }
    &__items{
        margin-right: 30px;
        max-width: 220px;
        width: 100%;
        height: 44px;
        border: 1px solid #eceff2;
        border-radius: 3px;
        padding: 11px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    &__price{
        margin-right: 30px;
        max-width: 220px;
        width: 100%;
        height: 44px;
        border: 1px solid #eceff2;
        border-radius: 3px;
        padding: 11px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner{
        display: flex;
    }
    .aside__items{
        margin-right: 30px;
    }
    .aside-items{
        width: 265px;
        padding: 30px;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 3px;
        
    }
    .aside-items__title{
        font-size: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e7ebee;
        margin-bottom: 30px;
        position: relative;
        span{
            position: absolute;
            right: 0;
        }
    }
    .aside-items__list{
        li{
            list-style: none;
            line-height: 35px;
            position: relative; 
        }
        a{
            color: #555555;
            font-size: 15px;
            span{
                padding-right: 14px;
                font-size: 10px;
            }
            .numb{
                position: absolute;
                right: 0;
                font-size: 15px;
            }
            
        }
        .active{
            color: $search;
        }
        
        
    }
    .aside-items__list-products{
    
    
        a{
            
            &::before{
                content: 'o';
                
                margin-right: 10px;
                border-radius: 50%;
            }
        }
    }
    
    
}
.irs--flat .irs-bar{
    background-color: #7347c1;
}
.irs--flat .irs-max, .irs--flat .irs-min {
    display: none;
}
.irs--flat .irs-handle>i:first-child {
    height: 18px;
    width: 18px;
    border: 4px solid $search;
    border-radius: 50%;
    background-color: #fff;
    top: -3px;
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: #fff;
}
.irs-from, .irs-single, .irs-to {
    top: 51px;
    
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    background-color: #f1ecf9;
    color: #7347c1;
    font-size: 15px;
    height: 32px;
    width: 81px;
    text-align: center;
    padding: 6px 0;
    border-radius: 15px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
    display: none;
}
.irs--flat .irs-to{
    left: 100px;
}
.irs--flat .irs-from{
    left: 0;
}
.irs--flat .irs-bar,.irs--flat .irs-line {
    height: 6px;
}

.price-range{
    button{
        margin: 0 auto;
        margin-top: 90px;
        max-width: 170px;
        width: 100%;
        height: 45px;
        border-radius: 20px;
        border: none;
        background-color: $search;
        color: #fff;
        cursor: pointer;
    }
}
.filter-bar__content{
    .filter-bar__products{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .items__inner-box{
        max-width: 260px;
    }
    .item__product-img{
        height: 160px;
    }
    .item__product-content{
        padding: 0;
        padding-top: 25px;
    }
    .item__product-title{
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 500;
    }
    .item__product-name{
        margin-bottom: 20px;
        margin-left: 20px;
        padding-right: 15px;
    }
    .item__product-text{
        display: none;
    }
    .product__bar-popular{
        padding-right: 20px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
    }
    .item__product-shop{
        margin: 0;
    }
    .item__product-info{
        padding: 16px 20px;
    }
    .item__product-price{
        margin: 0;
    }
    .item__product-like{
        display: none;
    }
}
.pagination{ 
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
.pagination__arrow{
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 38px;
    background-color: #fff;
    border-radius: 18px;
    align-items: center;
    padding-top: 11px;
    &-next{
        margin-left: 20px;
        background-color: #7347c1;
    }
    &-prev{
        margin-right: 20px;
    }
}
.pagination__number{
    list-style: none;
    
    li{
        display: inline-block;
        width: 50px;
        height: 38px;
        background-color: #fff;
        border-radius: 18px;
        &+li{
            margin-left: 5px;
            
        }
        &:first-child{
            background-color: $search;
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8){
            display: none;
        }
        

    }
    
    a,
    span{
        display: block;
        padding-top: 11px;
        align-items: center;
        font-size: 16px;
        
        
    }
}

.items__inner-box{
    transition: all .5s;
    .item__product-comments{
        display: none;
    
    }
    .item__product-logo{
        background-repeat: no-repeat;
        background-position: left;
        padding-left: 20px;
        
        
    }
    .product__bar-popular{
        margin-bottom: 10px;
    }
    &.list{
        max-width: 100%;
        
        .item__product-img{
            width: 230px;
            height: 210px;
            float: left;
            
        }
        .item__product-content{
            display: flex;
            justify-content: space-between;
            position: relative;
            height: 210px;
            padding-bottom: 30px;
        }

        
        .item__product-like,.item__product-comments{
            display: block;
            padding: 0;
        }
        .item__product-tt{
            
            padding-right: 15px;
            border-right: 1px solid #ececec;
            max-width: 265px;
            width: 100%;
        }
        
        .item__product-rate{
            padding-left: 20px;
            max-width: 205px;
            width: 100%;
            padding-right: 30px;
            border-right: 1px solid #ececec;
            display: block;
        }
        .item__product-text{
            display: block;
            font-size: 16px;
            line-height: 25px;
            padding-left: 20px;
        }
        .item__product-info{
            border: none;
            display: block;
            max-width: 145px;
            width: 100%;
            text-align: center;
        }
        .product__bar-popular{
            display: block;
            padding: 0;
        }
        .item__product-name{
            margin: 0;
            padding-top: 15px;
            margin-bottom: 20px;
        }
        .item__product-comments{
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #6f7d8d;
            span{
                 padding-right: 9px;
                color: #7f4ec2;
            }
        }
        .item__product-logo{
            position: absolute;
            bottom: 25px;
            left: 20px;
        }
        .item__product-price{
            margin-top: 40px;
        }
        .item__product-shop{
            position: absolute;
            right: 50px;
            bottom: 65px;
        }
    }
    
}
